<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Danh mục</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                     Món ĂN
                                    </a>
                                </h4>
                            </div>
                            <div id="sportswear" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="#">Đặt bàn </a></li>
                                        <li><a href="#">Cơm</a></li>
                                        <li><a href="#">Món ăn nhanh </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Đồ uống
                                    </a>
                                </h4>
                            </div>
                            <div id="mens" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="#">Trà sữa</a></li>
                                        <li><a href="#">Trà sữa tocotoco</a></li>
                                        <li><a href="#">Các loại đồ uống khác</a></li>                                 
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Đồ tráng miệng
                                    </a>
                                </h4>
                            </div>
                            <div id="womens" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="#">Bánh ngọt</a></li>
                                        <li><a href="#">Bánh tráng miệng</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Bàn tiệc</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Món ăn</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Nước uống</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Món Chay</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Đồ ăn nhanh</a></h4>
                            </div>
                        </div>
                      
                      
                    </div><!--/category-products-->
                
                    <div class="brands_products"><!--brands_products-->
                        <h2>Xem thêm</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#"> <span class="pull-right">(50)</span>Homemade</a></li>
                                <li><a href="#"> <span class="pull-right">(56)</span>pizza</a></li>
                                <li><a href="#"> <span class="pull-right">(27)</span>chicken</a></li>
                                <li><a href="#"> <span class="pull-right">(32)</span>Shushi</a></li>
                                <li><a href="#"> <span class="pull-right">(5)</span>Kimpap</a></li>
                            </ul>
                        </div>
                    </div><!--/brands_products-->
                    
                    <div class="price-range"><!--price-range-->
                        <h2>Phạm vi giá</h2>
                        <div class="well text-center">
                            
                             <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
                             <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
                        </div>
                    </div><!--/price-range-->
                    
                    <div class="shipping text-center"><!--shipping-->
                        <img src="assets/images/home/a51.jpg" alt="" />
                    </div><!--/shipping-->
                
                </div>
            </div>
            <div class="col-sm-9">
                <div class="blog-post-area">
                    <h2 class="title text-center">Giới Thiệu</h2>
                    <div class="single-blog-post">
                        <h3>Thế Giới Đồ Ăn Foody</h3>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Mac Doe</li>
                                <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                                <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                            </ul>
                            <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                            </span>
                        </div>
                        <a href="">
                            <img src="assets/images/home/a53.jpg" alt="">
                        </a>
                        <p>Thức ăn nhanh (tiếng Anh gọi là fast food), là thuật ngữ chỉ thức ăn có thể được chế biến và phục vụ cho người ăn rất nhanh chóng. Trong khi bất kỳ bữa ăn với ít thời gian chuẩn bị có thể được coi là thức ăn nhanh, thông thường thuật ngữ này nói đến thực phẩm được bán tại một nhà hàng hoặc cửa hàng với các thành phần làm nóng trước hoặc được nấu sẵn, và phục vụ cho khách hàng trong một hình thức đóng gói mang đi. Thuật ngữ fast food đã được công nhận trong từ điển tiếng Anh Merriam - Webster năm 1951.

                            Cửa hàng có thể được viết tắt hoặc các quán, có thể có hoặc không có chỗ ngồi cho thực khách, hay nhà hàng thức ăn nhanh (còn gọi là nhà hàng phục vụ nhanh chóng). Hoạt động nhượng quyền thương mại là một phần của chuỗi nhà hàng có thực phẩm được tiêu chuẩn hóa được vận chuyển đến các nhà hàng từ các địa điểm trung tâm.
                            
                            Các yêu cầu về vốn tham gia vào việc mở một nhà hàng thức ăn nhanh không nhượng quyền thương mại tương đối thấp. Nhà hàng phục vụ thực khách ngồi ăn có tỷ lệ cao hơn nhiều, nơi mà khách hàng có xu hướng ngồi và có đơn đặt hàng của họ mang lại cho họ trong một bầu không khí dường như cao cấp hơn, có thể được biết đến trong một số lĩnh vực như quán ăn nhanh. Nó là sản phẩm của văn hóa và ẩm thực phương Tây nhưng được du nhập vào Việt Nam, trở nên thịnh hành ở các đô thị kèm với nhiều công ty kinh doanh chủ yếu của nước ngoài, đe dọa ẩm thực và nông sản Việt</p>
                        <a  class="btn btn-primary" href="">Read More</a>

                    </div>
                    <div class="single-blog-post">
                        <h3>Thế Giới Đồ Ăn Foody</h3>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Mac Doe</li>
                                <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                                <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                            </ul>
                            <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                            </span>
                        </div>
                        <a href="">
                            <img src="assets/images/home/slide_112.jpg" alt="">
                        </a>
                        <p>Đầu tiên khi nghĩ đến ẩm thực châu Á, người ta nghĩ đến ngay hình ảnh của một tô mì chan nước dùng nóng hổi phục vụ tại bàn trong nhà hàng hay phổ biến hơn là các quán ăn xập xệ. Cách chuẩn bị món ăn của người Á châu là đầu bếp dùng tay trực tiếp để lấy mì, lấy rau và xếp thịt vào tô, sau đó chan nước dùng. Họ không chú trọng nhiều đến an toàn vệ sinh.

                            Trái lại với người châu Á, đồ ăn phương Tây thường xuyên được đóng gói ngay tại nhà bếp nên trông có vẻ sạch sẽ hơn, khiến họ có cảm giác đó là thức ăn hạng A và yên tâm ăn thoải mái.</p>
                        <a  class="btn btn-primary" href="">Read More</a>
                        
                    </div>
                    </div>
                </div>
            </div>
        </div>
    
</section>
