<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>
                    
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>E</span>Foody</h1>
                                <h2>Khám phá,Đặt bàn,giao hàng tận nơi</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="assets/images/home/sile2.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div> 
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span></span>Foody</h1>
                                <h2>Khám phá,Đặt bàn,giao hàng tận nơi</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="assets/images/home/sile1.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        
                    </div>
                    
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Danh mục</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                     Món ĂN
                                    </a>
                                </h4>
                            </div>
                            <div id="sportswear" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="#">Đặt bàn </a></li>
                                        <li><a href="#">Cơm</a></li>
                                        <li><a href="#">Món ăn nhanh </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Đồ uống
                                    </a>
                                </h4>
                            </div>
                            <div id="mens" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="#">Trà sữa</a></li>
                                        <li><a href="#">Trà sữa tocotoco</a></li>
                                        <li><a href="#">Các loại đồ uống khác</a></li>                                 
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Đồ tráng miệng
                                    </a>
                                </h4>
                            </div>
                            <div id="womens" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="#">Bánh ngọt</a></li>
                                        <li><a href="#">Bánh tráng miệng</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Bàn tiệc</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Món ăn</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Nước uống</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Món Chay</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Đồ ăn nhanh</a></h4>
                            </div>
                        </div>
                      
                      
                    </div><!--/category-products-->
                
                    <div class="brands_products"><!--brands_products-->
                        <h2>Xem thêm</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#"> <span class="pull-right">(50)</span>Homemade</a></li>
                                <li><a href="#"> <span class="pull-right">(56)</span>pizza</a></li>
                                <li><a href="#"> <span class="pull-right">(27)</span>chicken</a></li>
                                <li><a href="#"> <span class="pull-right">(32)</span>Shushi</a></li>
                                <li><a href="#"> <span class="pull-right">(5)</span>Kimpap</a></li>
                            </ul>
                        </div>
                    </div><!--/brands_products-->
                    
                    <div class="price-range"><!--price-range-->
                        <h2>Phạm vi giá</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#"> <span class="pull-right">>1000</span>Gia Đình</a></li>
                                <li><a href="#"> <span class="pull-right">200_500</span>Cá Nhân</a></li>
                                <li><a href="#"> <span class="pull-right">500_1000</span>Nhóm</a></li>
            
                            </ul>
                        </div>
                    </div><!--/price-range-->
                    
                    <div class="shipping text-center"><!--shipping-->
                        <img src="assets/images/home/a51.jpg" alt="" />
                    </div><!--/shipping-->
                
                </div>
            </div>
            
            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Món Ăn Ngon</h2>
                    <div class="col-sm-4" *ngFor="let item of list">
                        <div class="product-image-wrapper">
                            <a [routerLink]="['/detail', item.maSp]">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="{{item.anh | getImage:1}}" alt="" />
                                        <h2>{{item.gia}}</h2>
                                        <p>{{item.tenSp}}</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>{{item.gia}}</h2>
                                            <p>{{item.tenSp}}</p>
                                            <a (click)="themVaoGio($event, item)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Thêm vào danh sách yêu thích</a></li>
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Thêm vào để so sánh</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div><!--features_items-->           
                <div class="category-tab"><!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tshirt" data-toggle="tab">Món Ăn Ngon</a></li>
                            <li><a href="#blazers" data-toggle="tab">Đồ Uống</a></li>
                            <li><a href="#sunglass" data-toggle="tab">Món Tráng Miệng</a></li>
                            <li><a href="#kids" data-toggle="tab">Bánh</a></li>
                            <li><a href="#poloshirt" data-toggle="tab">Món Chay</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tshirt" >
                            <div class="col-sm-3" *ngFor="let item of list1">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{item.anh | getImage:1}}" alt="" />
                                            <h2>{{item.gia}}</h2>
                                            <p>{{item.tenSp}}</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="blazers" >
                            <div class="col-sm-3" *ngFor="let item of list2">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{item.anh | getImage:1}}" alt="" />
                                            <h2>{{item.gia}}</h2>
                                            <p>{{item.tenSp}}</p>
                                            <a class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="sunglass" >
                            <div class="col-sm-3" *ngFor="let item of list3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{item.anh | getImage:1}}" alt="" />
                                            <h2>{{item.gia}}</h2>
                                            <p>{{item.tenSp}}</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="kids" >
                            <div class="col-sm-3" *ngFor="let item of list4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{item.anh | getImage:1}}" alt="" />
                                            <h2>{{item.gia}}</h2>
                                            <p>{{item.tenSp}}</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="poloshirt" >
                            <div class="col-sm-3" *ngFor="let item of list5">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{item.anh | getImage:1}}" alt="" />
                                            <h2>{{item.gia}}</h2>
                                            <p>{{item.tenSp}}</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/category-tab-->
                
                
            </div>
        </div>
    </div>
</section>